.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  width: 80%;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.output {
  margin: auto 0 auto auto;
}
.--hidden {
  display: none !important;
}
